/* You can not modify anything in the HTML */
/* You can only modify the CSS file */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navbar-container{
    height: 50px;
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0 2rem 11rem;
    gap: 1rem;
}

.brand-logo{
    width: 100px;
}

.grow-list{
    display: flex;
}

.list{
    margin-left: 2rem;
    list-style-type: none;
}

.list-item{
    float: left;
    margin: 0 1rem;
    padding: 0.5rem;
}



.banner-container{
    display: flex;
    justify-content: center;
    margin: 0 3rem;
}

.heading-text{
    width: 500px;
    margin-top: 6rem;
    font-size: 4rem;
}

.heading-text span{
    color: rgb(142, 65, 215);
}

.description{
    font-size: 1rem;
    margin: 2rem 0;
    width: 300px;
    color: cadetblue;
}

button{
    background-color: blueviolet;
    padding: 0.7rem 1.5rem;
    color: azure;
    border-radius: 0.5rem;
}


.button-group{
    margin-right: 2rem;
}

img{
    width: 700px;
}